<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
    backupGlobals="false"
    bootstrap="tests/bootstrap-isolated.php"
    colors="true"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    stopOnRisky="false"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnTestsThatTriggerErrors="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    displayDetailsOnTestsThatTriggerNotices="true"
    testdox="false">

    <php>
        <ini name="error_reporting" value="-1"/>
        <server name="DISABLE_DATABASE" value="1"/>
    </php>

    <testsuites>
        <testsuite name="isolated">
            <directory>tests/Tests/Isolated</directory>
        </testsuite>
    </testsuites>

    <logging>
        <junit outputFile="reports/junit/report.xml"/>
        <testdoxHtml outputFile="reports/testdox/testdox.html"/>
        <testdoxText outputFile="reports/testdox/testdox.txt"/>
    </logging>

</phpunit>
