<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
    bootstrap="tests/bootstrap-isolated.php"
    colors="true"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    stopOnRisky="false"
    processIsolation="false"
    backupGlobals="false"
>
    <php>
        <ini name="error_reporting" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="isolated">
            <directory>tests/Tests/Isolated</directory>
        </testsuite>
    </testsuites>

    <logging>
        <!-- JUnit XML Report -->
        <junit outputFile="reports/junit/report.xml"/>
        <!-- Testdox Reports -->
        <testdoxHtml outputFile="reports/testdox/testdox.html"/>
        <testdoxText outputFile="reports/testdox/testdox.txt"/>
    </logging>
</phpunit>
