<?xml version="1.0" encoding="UTF-8"?>

<!--
OpenEMR has two different kinds of tests:
- "Isolated tests": Tests that run without secondary services, a data layer or significant initialization requirements
- "Tests": Tests that require a database and initialization before they can run or pass.

This file configures the kind that requires initialization.
-->

<phpunit 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd" 
backupGlobals="false" 
bootstrap="tests/bootstrap.php" 
colors="false" 
processIsolation="false" 
stopOnError="false" 
stopOnFailure="false" 
stopOnIncomplete="false" 
stopOnSkipped="false" 
stopOnRisky="false" 
displayDetailsOnTestsThatTriggerDeprecations="true" displayDetailsOnTestsThatTriggerErrors="true" 
displayDetailsOnTestsThatTriggerWarnings="true" displayDetailsOnTestsThatTriggerNotices="true" 
testdox="false">
  <coverage> </coverage>
  <php>
    <ini name="error_reporting" value="-1"/>
    <server name="PANTHER_WEB_SERVER_DIR" value="interface"/>
    <!-- ATTENTION use only on local machine you can not activate chrome visual mode on travis. -->
    <!-- to disable browser's headless mode (will display the testing window, useful to debug) -->
    <!--<server name="PANTHER_NO_HEADLESS" value="1"/>-->
  </php>
  <testsuites>
    <testsuite name="unit">
      <directory>tests/Tests/Unit</directory>
    </testsuite>
  </testsuites>

  <!-- Test Report Loggers -->
  <logging>
      <!-- JUnit XML Report -->
      <junit outputFile="reports/junit/report.xml"/>
      <phpunit bootstrap="tests/bootstrap-isolated.php">
<?xml version="1.0" encoding="UTF-8"?>

<phpunit 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
    backupGlobals="false"
    bootstrap="tests/bootstrap-isolated.php"
    colors="true"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    stopOnRisky="false"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnTestsThatTriggerErrors="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    displayDetailsOnTestsThatTriggerNotices="true"
    testdox="false">

    <php>
        <ini name="error_reporting" value="-1"/>
        <server name="DISABLE_DATABASE" value="1"/>
    </php>

    <testsuites>
        <testsuite name="isolated">
            <directory>tests/Tests/Isolated</directory>
        </testsuite>
    </testsuites>

    <logging>
        <junit outputFile="reports/junit/report.xml"/>
        <testdoxHtml outputFile="reports/testdox/testdox.html"/>
        <testdoxText outputFile="reports/testdox/testdox.txt"/>
    </logging>

</phpunit>


      <!-- Testdox (Readable Text or HTML Report) -->
      <testdoxHtml outputFile="reports/testdox/testdox.html"/>
      <testdoxText outputFile="reports/testdox/testdox.txt"/>
  </logging>

</phpunit>